.container{
    width: 900px;
    margin: 0 auto;
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: var(--card-x-color) 0px 1px 0px, var(--card-y-color) 0px 0px 8px;
    height: 60vh;
    margin-top: 50px;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    padding: 6rem;
}
.card h2{
    font-size: 50px;
}
.card p{
    width: 500px;
}