.container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.pie{
    margin: 50px auto;
    height: 400px;
    width: 400px;
    margin-top: 200px;
}
.bar{
    margin: 20px auto;
    height: 100px;
    width: 600px;
}