@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  margin-bottom: 80px;
}
ul{
  list-style: none;
}
input{
  outline: none;
}
input:focus,
input:active {
  border-color: transparent;
  outline: 1.5px solid rgb(0, 119, 255);
}
select{
  outline: none;
}
select:focus,
select:active {
  border-color: transparent;
  outline: 1.5px solid rgb(0, 119, 255);
}

