@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
:root{
  --bg-color: #fff;
  --box-shadow: rgba(0, 0, 0, 0.45);
  --text-color: #333;
  --card-x-color: rgba(17, 17, 26, 0.05);
  --card-y-color:rgba(17, 17, 26, 0.1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body[data-theme="dark-theme"]{
  --bg--color: #000;
  --text-color: #fff;
  --box-shadow: #fff;
  --card-x-color: rgba(240, 240, 241, 0.05);
  --card-y-color:#fff;
}

body {
  background-color: var(--bg--color);
  color: var(--text-color);
  margin-bottom: 80px;
}

ul{
  list-style: none;
}
input{
  outline: none;
}
input:focus,
input:active {
  border-color: transparent;
  outline: 1.5px solid rgb(0, 119, 255);
}
select{
  outline: none;
}
select:focus,
select:active {
  border-color: transparent;
  outline: 1.5px solid rgb(0, 119, 255);
}

