.hero{
    height: 100vh;
    background: url("../assets/gradient.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #fff;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    box-shadow: #cbc9c9 0px 3px 8px;
}
.card form {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.card form label{
    font-size: 12px;
    color: #9d9d9d;
    margin-left: 15px;
}
input{
    width: 450px;
    font-size: 20px;
    border: none;
    border: 1.5px #e1e0e0 solid;
    padding: 1rem;
    margin: 5px 0 15px 10px;
    border-radius: 5px;
}
button{
    border: none;
    background-color: rgb(0, 119, 255);
    color: #fff;
    width: 200px;
    padding: 12px 20px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 5px;
}
